name: widget_fader
description: A Widget that animates a fading effect over a child
version: 0.0.1
homepage: https://github.com/Bldrs-net/widget_fader.git

environment:
  sdk: ">=2.10.5 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
